worklife.json
[{"id":"7bb3f7a0.918a1","type":"tab","label":"Flow 1"},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"7bb3f7a0.918a1","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"TestLocDevice","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"7bb3f7a0.918a1","name":"message","func":"return {payload:msg.payload.location.message};","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"7bb3f7a0.918a1","name":"message check","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Go On...","vt":"str"},{"t":"eq","v":"Go On...","vt":"str"}],"checkall":"true","outputs":2,"x":460,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"7bb3f7a0.918a1","name":"Message","active":true,"console":"false","complete":"payload","x":780,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"7bb3f7a0.918a1","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"7bb3f7a0.918a1","name":"Act","field":"payload","fieldType":"msg","syntax":"mustache","template":"Act as per message: ({{payload}})","x":654,"y":330,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"7bb3f7a0.918a1","name":"Default","field":"payload","fieldType":"msg","syntax":"mustache","template":"({{payload}}) as usual...","x":659,"y":469,"wires":[["5dad02b7.a252fc"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"7bb3f7a0.918a1","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"TestLocDevice","deviceType":"LocDevice","eventCommandType":"update","format":"json","data":"{}","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"7bb3f7a0.918a1","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["64d88f08.8e3838"]]},{"id":"6b4a591c.014b18","type":"function","z":"7bb3f7a0.918a1","name":"Device payload","func":"var ptimestamp = 0;\nif(msg.payload.length !== 0){\n    ptimestamp = msg.payload[0].location.timestamp;\n}\nvar d = new Date();\nvar currentRoom = \"B1\";\nvar timestamp = d.getTime();\nvar duration = timestamp - ptimestamp;\nif(duration > 1 && ptimestamp !== 0){\n    var message = \"Do not Go On...\"\n}\n    \n\nmsg = {\n  payload: JSON.stringify(\n    {\n      location:{\n        \"room\" : currentRoom,\n        \"timestamp\" : timestamp,\n        \"message\" : message\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["cbe1a0b7.cd877","78cda4fb.6b62b4"]]},{"id":"9f74aee6.79eea","type":"cloudant in","z":"7bb3f7a0.918a1","name":"Read","cloudant":"","database":"location","service":"rpiot-cloudantNoSQLDB","search":"_all_","design":"_design","index":"design1","x":332,"y":213,"wires":[["e950bd75.52f328","6b4a591c.014b18"]]},{"id":"78cda4fb.6b62b4","type":"cloudant out","z":"7bb3f7a0.918a1","name":"Insert","cloudant":"","database":"location","service":"rpiot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":496,"y":34,"wires":[]},{"id":"64d88f08.8e3838","type":"function","z":"7bb3f7a0.918a1","name":"filter: latest entry","func":"msg.payload = {\n    \"query\": \"*:*\",\n    sort: \"-timestamp\",\n    limit: 1,\n};\nreturn msg;","outputs":1,"noerr":0,"x":124,"y":213,"wires":[["9f74aee6.79eea"]]},{"id":"e950bd75.52f328","type":"debug","z":"7bb3f7a0.918a1","name":"Debug Output","active":true,"console":"false","complete":"payload","x":574,"y":193,"wires":[]}]